.status-bar {
    position: fixed;
    width: 91%;
    display: flex;
    justify-content: space-between;
    opacity: 0.7;
    top: 10px;
    left: 20px;
}

.status-bar i {
    font-size: 14px;
}

.status-bar .status-bar__battery-level {
    margin-left: 5px;
}